.note-container {
  width: 200px;
  height: 230px;
  background-color: #333333;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
}

.note-container.opened {
  visibility: visible;
}

.note-content {
  width: 200px;
  height: 200px;
}

.note-content textarea {
  width: 100%;
  height: 200px;
  resize: none;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  position: absolute;
  bottom: 0%;
  padding: 5px;
}
